/* GLOBAL */
body{
	background-color: black;
}

body a{
	text-decoration: none;
	color: goldenrod;
}

body a:hover{
	text-decoration: none;
	color: goldenrod;
}

.jumbotron h1{
	color: white;
}

#conteudo{
	margin-top: 20px;
}
/* END GLOBAL */

/* INDEX PAGE*/ 
#jumbotron-banner{
	height: 500px; 
	background-image: url(../images/banner-intro.png);
	background-position: center;
	background-repeat: no-repeat;
}

/* END INDEX PAGE*/ 

/* GALLERY PAGE */
#gallery{
	background-image: url(../images/gallery-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.gridder .fas{
	margin-right: 10px;
	color: white;
	font-size: 50px;
}
/* END GALLERY PAGE */

/* TRIBES PAGES */
#tribes{
	background-image: url(../images/tribes-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: goldenrod;
}

#tribes p{
	color: white;
	text-align: center;
}

#tribes label{
	color: black;
}

#tribes h1, h2, h4{
	text-align: center;
}

#infantary{
	background-color: lightyellow;
	padding: 10px;
	border: 1px black solid;
	border-radius: 10px;
	text-align: center;
}

#infantary-body p{
	color: black;
}
/* END TRIBES PAGES */
/* DOWNLOAD PAGE */
#download{
	background-image: url(../images/download-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: goldenrod;
}
/* END DOWNLOAD PAGE */