/* GLOBAL */
body{
	background-color: black;
}

body a{
	text-decoration: none;
	color: goldenrod;
}

body a:hover{
	text-decoration: none;
	color: goldenrod;
}

nav{
	opacity: 0.90;
}

.jumbotron h1{
	color: white;
}

#conteudo{
	margin-top: 20px;
}

.black-box{
	background-color: rgba(0,0,0,0.5);
	
	border: 1px solid goldenrod;
	border-radius: 10px;
	padding: 10px;
}
/* END GLOBAL */

/* INDEX PAGE*/ 
#index{
	background-image: url(../images/gallery-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	
	color: goldenrod;
	
	text-align: center;
}

#index p{
	color: white;
}

#jumbotron-banner{
	height: 500px; 
	background-image: url(../images/banner-intro.png);
	background-position: center;
	background-repeat: no-repeat;
}

/* END INDEX PAGE*/ 

/* GALLERY PAGE */
#gallery{
	background-image: url(../images/gallery-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.gridder .fas{
	margin-right: 10px;
	color: white;
	font-size: 50px;
}
/* END GALLERY PAGE */

/* TRIBES PAGES */
#tribes{
	background-image: url(../images/tribes-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: goldenrod;
}

#tribes p{
	color: white;
	text-align: center;
}

#tribes label{
	color: black;
}

#tribes h1, h2, h4{
	text-align: center;
}

/*#scroll{
	background-image: url(../images/Scroll.png);
	background-repeat: no-repeat;
	background-size: contain;
	
	padding-top: 150px;
	padding-left: 50px;
	padding-right: 50px;
}*/

#infantary{
	background-color: lightyellow;
	padding: 10px;
	border: 1px black solid;
	border-radius: 10px;
	text-align: center;
}

#infantary-body p{
	color: black;
}
/* END TRIBES PAGES */
/* DOWNLOAD PAGE */
#download{
	background-image: url(../images/download-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: goldenrod;
	text-align: center;
}

#download p {
	color: white;
}
/* END DOWNLOAD PAGE */

/* ABOUT PAGE */
#about{
	background-image: url(../images/about-background.jpg);
	background-position: center;
    background-attachment: fixed;
	
	color: darkgoldenrod;
	text-align: center;
}

#about #conteudo{
	background-image: url(../images/Scroll2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	padding: 10px;
}

#about p{
	color: black;
	text-align: left;
}

#about ul{
	color: black;
	text-align: justify;
}
/* END ABOUT PAGE */